 body {
    background-color: #d2223c;
    color: white;
    font-family: "Bai Jamjuree", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

 button{
     background-color: #e86079;
     color: white; 
     font-family: "Bai Jamjuree", system-ui;

 }

 .passo {
    display: none;
 }
 .passo.ativo {
    display:block;
 }

 main{
   text-align: center;
   max-width: 90%;
 }

 img{
   max-width: 90%;
 }